
/* Coding With Mihai*/
@charset "utf-8";


/* 1. Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');




/* 2. Body and general Stuff */

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    background: #ffffff;
    color: #1e1e27;
}



/* ***************************Responsive************************************************ */


@media only screen and (max-width: 1199px){



}

@media only screen and (max-width: 991px){
 


}

@media only screen and (max-width: 767px){

    
}
@media only screen and (max-width: 575px){
 
    
}

@media only screen and (max-width: 479px){
   
}

